body {
  background-color:#ffffff;
}
h1 {color: #213172}

h2 {color: #213172}

p {color: #000000}

.leadGraph {background-color:#000000; color: #ffffff; font-weight: bold; font-size: 1.24rem; padding: 20px;}

.leadPhoto {margin: 30px 40px 600px 40px;}

a {color: #f70E0E; text-decoration: none;}
a:hover {color: #666666; text-decoration: underline;}

