body {
  background-color: #000000;
}

.stack-sans-notch {
  font-family: "Stack Sans Notch", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.ibm-plex-serif-thin {
  font-family: "IBM Plex Serif", serif;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-serif-extralight {
  font-family: "IBM Plex Serif", serif;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-serif-light {
  font-family: "IBM Plex Serif", serif;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-serif-regular {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-serif-medium {
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-serif-semibold {
  font-family: "IBM Plex Serif", serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-serif-bold {
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-serif-thin-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex-serif-extralight-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex-serif-light-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex-serif-regular-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-serif-medium-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex-serif-semibold-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex-serif-bold-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  font-style: italic;
}


.mozilla-text {
  font-family: "Mozilla Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h1 {
  font-family: "Stack Sans Notch", sans-serif;
  font-size: 5rem; 
}

h2 {
  font-family: "Stack Sans Notch", sans-serif;
}

h3 {
  font-family: "Stack Sans Notch", sans-serif;
}

h4 {
  font-family: "Noto Sans", sans-serif;
}

h6 {
  font-family: "Noto Sans", sans-serif;
}

p {
  font-family: "Mozilla Text", sans-serif;
}

ul {
  font-family: "Mozilla Text", sans-serif;
}

a {
  color: yellow;
}

.title {
  background-color: #91959C;
  align-items: center;
}

.headshot {
  background-color: #91959C;
  padding: 20px;
}

.bio {
  background-color: #ffffff;
  margin: 10px 0 10px 0;
}

.connect {
  background-color: #00707f;
  margin: 10px 0 10px 0;
  color: #ffffff
}

.JourEx {
  background-color: #00707f;
  color: #ffffff
}

.other {
  background-color: #ffffff;
  color: #000000;
  padding: 8px;
}

.clips-link {
  color:#00707f
}

